# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/misc.xml
/.idea/compiler.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.properties
/.idea/jarRepositories.xml
/.idea/uiDesigner.xml
/gradlew.bat
